
.main-wrapper {
    margin-left: 16.66666667%; /* Equivalent to col-md-2 */
    padding-top: 20px;
    height: 100vh; /* Assurez-vous que le contenu principal prend toute la hauteur disponible */
  }
  
  .main-content {
    border-radius: 15px;
    background-color: #fff; /* Assurez-vous que le contenu principal a un fond blanc */
    overflow: hidden; /* Pour s'assurer que le contenu ne dépasse pas les bords arrondis */
    padding: 20px;
    margin-top: 20px;
    height: calc(100vh - 120px); /* Ajustez cette valeur en fonction de la hauteur du navbar */
  }
  
  /* Statistiques */
  .stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
  
  .stat-box {
    position: relative; /* Pour le positionnement absolu de l'icône */
    text-align: center;  /* Garde le texte centré */
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: solid 1px rgb(211, 203, 251);
    transition: transform 0.3s ease;
  }
  
  .stat-box:hover {
    transform: translateY(-2px); /* Effet de soulèvement */
  }
  
  .stat-icon {
    position: absolute;
    left: 45px; /* Distance depuis le bord gauche */
    top: 50%; /* Centre vertical */
    transform: translateY(-50%); /* Ajustement précis du centrage vertical */
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  .date-time {
    font-size: 14px;
    color: #666;
  }
  
  .stat-title {
    font-weight: bold;
  }
  
  .green {
    color: #34d399;
  }
  
  .yellow {
    color: #facc15;
  }
  
  .blue {
    color: #3b82f6;
  }
  
  .stat-value {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  #allume {
    margin-left: 260px;
  }
  
  /* État pompe */
  .status {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .red-dot,
  .green-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .red-dot {
    background: red;
  }
  
  .green-dot {
    background: green;
  }
  