<nav class="col-md-2 d-none d-md-block bg-sidebar sidebar">
  <div class="sidebar-sticky">
    <div class="logo text-center my-4">
      <img src="images/logo.png" alt="Logo" class="img-fluid logo-circle">
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="../dashbord/" routerLinkActive="active">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a>
      </li>

      <!-- Afficher "Gestion Utilisateurs" uniquement si le rôle est "super_admin" -->
      <li class="nav-item" *ngIf="isSuperAdmin()">
        <a class="nav-link" href="../utilisateur/" routerLinkActive="active">
          <i class="fas fa-users"></i>
          Gestion Utilisateurs
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="../historiques/" routerLinkActive="active">
          <i class="fas fa-history"></i>
          Historiques
        </a>
      </li>
    </ul>
  </div>
</nav>
