<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="col-md-10 offset-md-2 main-wrapper">
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <main role="main" class="main-content">
        <div class="dashboard">
          <!-- Top Stats -->
          <div class="stats-container">
            <div class="stat-box">
              <p class="date-time">05/02/2025 12h32</p>
              <p class="stat-title">État pompe</p>
              <div class="status">
                <img id="allume" src="les-controles.png" class="stat-icon" alt="Humidité">
              </div>
            </div>

            <div class="stat-box">
              <img src="humidite.png" class="stat-icon" alt="Humidité">
              <p class="stat-title green">Humidité du sol</p>
              <div class="stat-value">25%</div>
            </div>

            <div class="stat-box">
              <img src="luminosite-et-contraste.png" class="stat-icon" alt="Luminosité">
              <p class="stat-title yellow">Luminosité du sol</p>
              <div class="stat-value">45 lx</div>
            </div>

            <div class="stat-box">
              <img src="verre.png" class="stat-icon" alt="Volume d'eau">
              <p class="stat-title blue">Volume d'eau</p>
              <div class="stat-value">4L/m3</div>
            </div>
          </div>

          <!-- Graphs -->
          <div class="charts">
            <div class="chart">
              <h2>Historique Humidité par jour (%)</h2>
              <canvas id="humidityChart"></canvas>
            </div>

            <div class="chart">
              <h2>Volume d'eau par plante</h2>
              <canvas id="waterChart"></canvas>
            </div>
          </div>

          <div class="chart full-width">
            <h2>Historique Luminosité (lx)</h2>
            <canvas id="luminosityChart"></canvas>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
