<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="col-md-10 offset-md-2 main-wrapper">
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <main role="main" class="main-content">
        <div class="inscription-form">
          <h2 class="text-center mb-4">INSCRIPTION</h2>
          <form (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" id="prenom" placeholder="Prénom" [(ngModel)]="prenom" name="prenom" required (input)="validatePrenom()">
                <div *ngIf="prenomError" class="text-danger">{{ prenomError }}</div>
              </div>
              <div class="form-group col-md-6">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom" [(ngModel)]="nom" name="nom" required (input)="validateNom()">
                <div *ngIf="nomError" class="text-danger">{{ nomError }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="telephone">Téléphone</label>
                <input type="text" class="form-control" id="telephone" placeholder="Téléphone" [(ngModel)]="telephone" name="telephone" required (input)="validateTelephone()">
                <div *ngIf="telephoneError" class="text-danger">{{ telephoneError }}</div>
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="email" name="email" required (input)="validateEmail()">
                <div *ngIf="emailError" class="text-danger">{{ emailError }}</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="role">Rôle</label>
                <select class="form-control" id="role" [(ngModel)]="role" name="role" required>
                  <option value="admin_simple">Admin Simple</option>
                  <option value="super_admin">Super Admin</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="adresse">Adresse</label>
                <input type="text" class="form-control" id="adresse" placeholder="Adresse" [(ngModel)]="adresse" name="adresse" required (input)="validateAdresse()">
                <div *ngIf="adresseError" class="text-danger">{{ adresseError }}</div>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
              <button type="button" class="btn btn-secondary custom-return-btn mr-2" (click)="onRetour()">Retour</button>
              <button type="submit" class="btn btn-success custom-submit-btn" [disabled]="!inscriptionForm.valid || telephoneError">Mettre à jour</button>
            </div>
          </form>
        </div>
      </main>
    </div>
  </div>
</div>

<!-- Modal de succès -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Succès</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        L'utilisateur a été inscrit avec succès. Votre code secret a été envoyé dans votre boîte mail.
        Veuillez vérifier votre boîte de réception (vérifier le dossier spam) pour le code secret.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
