/* Design de la pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 0;
  gap: 5px; /* Espacement entre les boutons */
}

.pagination .page-item {
  display: inline-block;
  visibility: visible; /* Assure que tout est visible */
  opacity: 1; /* Pas de disparition */
}

.pagination .page-link {
  color: #28BC89; /* Couleur du texte */
  border: 1px solid #28BC89; /* Bordure */
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 16px; /* Rendre le texte bien visible */
  font-weight: bold; /* Texte plus lisible */
}

.pagination .page-item.active .page-link {
  background-color: #28BC89;
  color: white; /* Texte blanc pour plus de visibilité */
  border-color: #28BC89;
}

.pagination .page-item.disabled .page-link {
  color: #ccc;
  background-color: #f8f9fa;
  border-color: #ccc;
  cursor: not-allowed;
}

.pagination .page-item:not(.disabled):hover .page-link {
  background-color: #28BC89;
  border-color: #28BC89;
  color: #ffffff;
}
