<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="col-md-10 offset-md-2 main-wrapper">
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <main role="main" class="main-content">
        <!-- Section de filtre -->
        <div class="filter-container mb-3 d-flex align-items-center">
          <div class="form-group me-2">
            <label for="userId" class="form-label">Filtrer par utilisateur :</label>
            <input type="text" id="userId" [(ngModel)]="selectedUserId" class="form-control" placeholder="ID utilisateur">
          </div>
          <button class="btn btn-primary me-3" (click)="loadHistoriquesByUser()">Rechercher</button>

          <div class="form-group me-2">
            <label for="date" class="form-label">Filtrer par date :</label>
            <input type="date" id="date" [(ngModel)]="selectedDate" class="form-control">
          </div>
          <button class="btn btn-primary" (click)="filterHistoriquesByDate()">Rechercher</button>
        </div>

        <div class="table-container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let historique of paginatedHistorique">
                <td>
                  <img
                    [src]="historique.utilisateur.photo ? historique.utilisateur.photo : '/public/profil.png'"
                    alt="Photo de l'utilisateur"
                    width="50"
                    height="50"
                    class="rounded-circle"
                  />
                </td>
                <td>{{ historique.utilisateur.prenom }}</td>
                <td>{{ historique.utilisateur.nom }}</td>
                <td>{{ historique.action }}</td>
                <td>{{ historique.heure.slice(0, 5) }}</td>
                <td>{{ historique.date.split('-').reverse().join('/') }}</td>
              </tr>
            </tbody>
          </table>
          
        </div>

        <!-- Pagination avec Bootstrap -->
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="page === 1">
              <button class="page-link" (click)="changePage(page - 1)">Précédent</button>
            </li>

            <li class="page-item" *ngFor="let p of [].constructor(totalPages()); let i = index" [class.active]="page === i + 1">
              <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
            </li>

            <li class="page-item" [class.disabled]="page === totalPages()">
              <button class="page-link" (click)="changePage(page + 1)">Suivant</button>
            </li>
          </ul>
        </nav>
      </main>
    </div>
  </div>
</div>
