<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="col-md-10 offset-md-2 main-wrapper">
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <main role="main" class="main-content">
        <div class="table-container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let historique of paginatedHistorique">
                <td><img src="profil.png" alt="{{ historique.nom }} {{ historique.prenom }}" class="rounded-circle" width="30"></td>
                <td>{{ historique.prenom }}</td>
                <td>{{ historique.nom }}</td>
                <td>{{ historique.actions }}</td>
                <td>{{ historique.date }}</td>
                <td>{{ historique.heure }}</td>
              
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination avec Bootstrap -->
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="page === 1">
              <button class="page-link" (click)="changePage(page - 1)">Précédent</button>
            </li>

            <li class="page-item" *ngFor="let p of [].constructor(totalPages()); let i = index" [class.active]="page === i + 1">
              <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
            </li>

            <li class="page-item" [class.disabled]="page === totalPages()">
              <button class="page-link" (click)="changePage(page + 1)">Suivant</button>
            </li>
          </ul>
        </nav>
      </main>
    </div>
  </div>
</div>
