<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="col-md-10 offset-md-2 main-wrapper">
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <main role="main" class="main-content">
        <!-- Section de filtre -->
        <div class="filter-container mb-3 d-flex align-items-center">
          <div class="form-group me-2">
            <label for="date" class="form-label">Filtrer par date </label>
            <input type="date" id="date" [(ngModel)]="selectedDate" class="form-control" (input)="onDateInput($event)">
          </div>
          <button class="btn btn-primary "  style="margin-left:10px; padding-right: 30px; margin-top: 16px;" 
          (click)="filterHistoriquesByDate()">Rechercher</button>
        </div>

        <div *ngIf="historiques.length === 0" class="alert alert-info" role="alert">
          Aucune information à ce jour.
        </div>

        <div class="table-container">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let historique of paginatedHistorique">
                <td>
                  <img
                    src="/profil.png"
                    alt="Avatar de l'utilisateur"
                    width="50"
                    height="50"
                    class="rounded-circle"
                  />
                </td>
                <td>{{ historique.utilisateur?.prenom || historique.prenom || 'N/A' }}</td>
                <td>{{ historique.utilisateur?.nom || historique.nom || 'N/A' }}</td>
                <td>{{ historique.action }}</td>
                <td>{{ historique.heure?.slice(0, 5) || 'N/A' }}</td>
                <td>{{ historique.date?.split('-').reverse().join('/') || 'N/A' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination avec Bootstrap -->
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="page === 1">
              <button class="page-link" (click)="changePage(page - 1)">Précédent</button>
            </li>

            <li class="page-item" *ngFor="let p of [].constructor(totalPages()); let i = index" [class.active]="page === i + 1">
              <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
            </li>

            <li class="page-item" [class.disabled]="page === totalPages()">
              <button class="page-link" (click)="changePage(page + 1)">Suivant</button>
            </li>
          </ul>
        </nav>
      </main>
    </div>
  </div>
</div>
